* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin-left: 36%;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #06b415;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #03772a;
}

.form-campo {
    margin-bottom: 16px;
}
.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    height: 120px;
    resize: none;
}

form {
    max-width: 360px;
}

form button {
    max-width: 100%;
}