* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #e0d8d8;
    padding: 24px 0;
    margin-top: 15%;
    text-align: center;
}

form h2 {
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #020202;
}

.tarefa-finalizada a {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}